*{
    background-color: rgb(10, 10, 19);
}

.input_group{
     position: relative;
}


.input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}


.input__label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.input:focus + .input__label,
.input:valid + .input__label
{
    transform: translate(10px - 14px) scale(.8);
    color: #d1c5fc;
    padding-inline: 5px;
    background-color: #242329;
}

.input:is(:focus, :vaild){
    outline-color: #d1c5fc;
}